<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="95179efc-85d4-4acc-ba5c-7383fb1fa3e2" Publisher="CN=Mohsen" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="95179efc-85d4-4acc-ba5c-7383fb1fa3e2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>NeonSample</DisplayName>
    <PublisherDisplayName>Mohsen</PublisherDisplayName>
    <Logo>Assets\Sev\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NeonSample.App">
      <uap:VisualElements DisplayName="NeonSample" Square150x150Logo="Assets\Sev\Square150x150Logo.png" Square44x44Logo="Assets\Sev\Square44x44Logo.png" Description="NeonSample" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Sev\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Sev\Wide310x150Logo.png" Square310x310Logo="Assets\Sev\LargeTile.png" Square71x71Logo="Assets\Sev\SmallTile.png" ShortName="Neon">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Sev\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>